<footer>

  <div class="content" role="main">

    <p style="font-size: 1.2rem; font-weight: 800;">Contate-nos através:</p>

    <div class="card-container">

      <a class="circle-link w3-green" title="Whatsapp" href="https://api.whatsapp.com/send?phone=5524998680304&text=Ola%20TOP%20GERADORES!%20Preciso%20de%20um%20atendimento." target="_blank"  rel="noopener">
        <i class="fa fa-whatsapp fa-2x"></i>
      </a>

      <a class="circle-link w3-red" title="E-mail" href="mailto:topgeradores.eng@gmail.com" target="_blank" rel="noopener">
        <i class="fa fa-envelope-o fa-2x"></i>
      </a>

      <!-- <a class="circle-link-200 w3-green" title="Whatsapp" href="https://api.whatsapp.com/send?phone=5524993275577&text=TOP%20GERADORES" target="_blank"  rel="noopener">
        <i class="fa fa-whatsapp fa-3x"></i>
        <span>(24) 99327-5577</span>
      </a>

      <a class="circle-link-300 w3-red" title="E-mail" href="mailto:topgeradores.eng@gmail.com" target="_blank" rel="noopener">
        <i class="fa fa-envelope-o fa-3x"></i>
        <span>topgeradores.eng@gmail.com</span>
      </a> -->

    </div>
  </div>

</footer>
